{% extends 'landing/base.html' %}


{% block content %}
<div class="container">
	<div class="row justify-content-center">
			<div class="col-md-5 col-sm-12 border-bottom position-relative">
				<h3>"{{ query }}" matched Profiles</h3>
			</div>
	</div>
	
	{% for profile in profile_list %}
		<div class="row justify-content-center mt-3">

			<div class="col-md-5 col-sm-12 border-bottom position-relative">

			<div>
				<a href="{% url 'profile' profile.pk %}">
					<img class="rounded-circle post-img" height="30" width="30" src="{{ profile.picture.url }}">
				</a>

				<p class="post-text">
					<a href="{% url 'profile' profile.pk %}" class="text-primary">@{{ profile.user }} </a>
				</p>
			</div>


				
				<p><a style="text-decoration: none;" class="text-primary" href="{% url 'profile' profile.pk %}">@{{ profile.user }}</a></p>
				{% if profile.location %}
				<p>From: {{ profile.location }}</p>
				{% endif %}
				<p>Followers:{{ profile.followers.all.count }}</p>
			</div>
		</div>

	{% endfor %}
</div>


<div class="container mt-5">

	<div class="row justify-content-center">
			<div class="col-md-5 col-sm-12 border-bottom position-relative">
				<h3>"{{ query }}" matched Posts</h3>
			</div>
	</div>
	
	{% for post in post_list %}
	<div class="row justify-content-center mt-3">
		<div class="col-md-5 col-sm-12 border-bottom position-relative">
			<div class="">
			<a href="{% url 'profile' post.author.profile.pk %}">
				<img class="rounded-circle post-img" height="30" width="30" src="{{ post.author.profile.picture.url }}"></a>
				<p class="post-text">
					<a href="{% url 'profile' post.author.profile.pk %}" class="text-primary">@{{ post.author }} </a> {{ post.created_on }}
				</p>
			</div>
			<div class="position-relative">
				<p>{{ post.body }}</p>
				<a href="{% url 'post-detail' post.pk %}" class="stretched-link"></a>
			</div>
			
		</div>
	</div>
	{% endfor %}
	
</div>


{% endblock content %}